.mini-container {
  display: flex;
  flex-direction: column;
  width: max-content;


  .img-container {
    background-color: #e5e5e5;
    border-radius: 2.2rem;
  }
  .title-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1px;
    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 0.2rem;
      color: #1a1f16;
    }
    h3 {
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: -0.02em;
      color: #60695c;
    }
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }
    svg {
      color: white;
    //   background-color: #1a1f16;
    }
  }
}
