.genview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.view {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  box-sizing: border-box;
  padding: 56px 60px 0px 66px;
  padding-bottom: 57px;
  .back {
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1a1f16;
    margin-bottom: 32px;
    cursor: pointer;
    width: max-content;
    
  }
  height: 100vh;
  overflow: scroll;
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
    .img-box {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      .img-container {
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 13px;
        .image {
          padding: 8px;
          border-radius: 13px;
          background: #fff;
          img {
            width: 33.66px;
            height: 42px;
          }
        }
      }
      img {
        padding: 8px;
        width: 258px;
        height: 318px;
        background: #ffffff;
        border-radius: 13px;
      }
    }
    .info {
      .name {
        font-family: "Cabin";
        font-style: normal;
        font-weight: 700;
        font-size: 61.04px;
        line-height: 74px;
        color: #1a1f16;
        margin: 0;
        padding: 8px 0px;
      }
      .series {
        font-family: "Cabin";
        font-style: normal;
        font-weight: 500;
        font-size: 31.25px;
        line-height: 38px;
        color: rgba(26, 31, 22, 0.5);
        padding-bottom: 25.5px;
      }
      .rate {
        display: flex;
        align-items: center;
        gap: 25.5px;
        padding: 25.5px 0px 17.5px 0px;
        
      }
      .price {
        font-family: "Cabin";
        font-style: normal;
        font-weight: 500;
        font-size: 31.25px;
        line-height: 38px;
        color: #1a1f16;
        padding-bottom: 8px;
      }
      p {
        font-family: "Cabin";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #1a1f16;
        padding-bottom: 16px;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    button {
      padding: 8px 24px;
      gap: 10.25px;
    }
  }
  .line {
    width: calc(100% - 24px);
    height: 3px;
    border-radius: 5px;
    background: rgba(26, 31, 22, 0.5);
    // border: 3px solid rgba(26, 31, 22, 0.5);
    margin: 0px 0px 32px 8px;
  }
  .description {
    display: flex;
    flex-direction: column;
    .title {
      font-family: "Cabin";
      font-style: normal;
      font-weight: 500;
      font-size: 31.25px;
      line-height: 38px;
      color: #1a1f16;
      padding-bottom: 8px;
    }
    p {
      font-family: "Cabin";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #60695c;
    }
  }
}
