.general {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  height: 100vh;
  width: 65vw;
}
.container {
  display: flex;

  flex-wrap: wrap;
  gap: 3rem;

  overflow-y: scroll;
  height: 100vh;
  width: 86%;
}
.mini-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 40vh;

  .img-container {
    background-color: var(--white);
    height: 100%;
    border-radius: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 12rem;
      width: 10rem;
    }
  }
  .title-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1px;
    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 0.2rem;
      color: #1a1f16;
    }
    h3 {
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: -0.02em;
      color: #60695c;
    }
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }
    svg {
      color: white;
    }
  }
}
.big-container {
  .img-container {
    height: 12.2rem;
    width: 23rem;
    img {
      height: 12.2rem;
      width: max-content;
    }
  }
}
